In [1]:
# dependencies
import pandas as pd
import os

import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine
from sqlalchemy import func

# config.py in .gitignore
# you will have to apply own username/password
from config import username, password

In [2]:
# pandas to_sql does not seem to like capital letters or spaces.
# they will succeed, but everything in Postgress has quotes around it.
# rename so to_sql/Postgres likes field names
rename_dict = {
    "Symbol": "symbol",
    "Name": "name",
    "Last_Sale": "last_sale",
    "Start_of_Year_Sale": "start_year_sale",
    "YTD_Change_Percent": "ytd_percent",
    "Sector": "sector"
}

In [3]:
# import csv with results of our API calls
nyse_csv = os.path.join("data", "NYSE_Sector_Performance.csv")
nyse_df = pd.read_csv(nyse_csv)
nyse_df = nyse_df.rename(columns=rename_dict)
nyse_df = nyse_df.set_index("symbol")
nyse_df = nyse_df.sort_index()
nyse_df.head()

,name,last_sale,start_year_sale,ytd_percent,sector
symbol,,,,,
A,"Agilent Technologies, Inc.",65.86,67.46,-2.429396,Capital Goods
AA,Alcoa Corporation,20.15,26.58,-31.910670,Basic Industries
AAC,"AAC Holdings, Inc.",0.75,1.40,-86.666667,Health Care
AAN,"Aaron&#39;s, Inc.",61.56,42.05,31.692658,Technology
AAP,Advance Auto Parts Inc,143.16,157.46,-9.988824,Consumer Services

In [26]:
# connect to local Postgres database
connect_string = f"postgresql://{username}:{password}@localhost:5432/postgres"

engine = create_engine(connect_string)
connection = engine.connect()

In [27]:
# create new database
# this will throw an error if database already exists, but we'll ignore that

# can't create database while in a transaction
# do an empty commit to force end of transaction
connection.execute("commit")

# create database for etl
try:
    connection.execute("create database etl_stocks")
except:
    pass

In [28]:
# connect to local Postgress database
connect_string = f"postgresql://{username}:{password}@localhost:5432/etl_stocks"

engine = create_engine(connect_string)
connection = engine.connect()

In [29]:
# push dataframe to a table in Postgres
table_name = "etl_stock_price"
nyse_df.to_sql(name=table_name, con=connection, if_exists="replace")