In [2]:
# Dependencies
import pandas as pd
import numpy as np

In [3]:
# Read CSV file & preview of the DataFrame

file = 'companylist-raw_data.csv'
df = pd.read_csv(file, encoding="ISO-8859-1")
df.head()

,Symbol,Name,LastSale,MarketCap,IPOyear,Sector,industry,Summary Quote,Unnamed: 8
0,DDD,3D Systems Corporation,8.24,$961.53M,NaN,Technology,Computer Software: Prepackaged Software,https://www.nasdaq.com/symbol/ddd,NaN
1,MMM,3M Company,164.71,$94.75B,NaN,Health Care,Medical/Dental Instruments,https://www.nasdaq.com/symbol/mmm,NaN
2,WBAI,500.com Limited,9.88,$423M,2013.0,Consumer Services,Services-Misc. Amusement & Recreation,https://www.nasdaq.com/symbol/wbai,NaN
3,WUBA,58.com Inc.,51.33,$7.63B,2013.0,Technology,"Computer Software: Programming, Data Processing",https://www.nasdaq.com/symbol/wuba,NaN
4,EGHT,8x8 Inc,23.32,$2.32B,NaN,Technology,EDP Services,https://www.nasdaq.com/symbol/eght,NaN

In [5]:
# Delete extraneous columns and NA values in Sectors & Industry
df2 = df.drop(['IPOyear','MarketCap','Summary Quote','Unnamed: 8'], axis=1)
df2.dropna(subset=['LastSale', 'Sector'])
df2.head()

,Symbol,Name,LastSale,Sector,industry
0,DDD,3D Systems Corporation,8.24,Technology,Computer Software: Prepackaged Software
1,MMM,3M Company,164.71,Health Care,Medical/Dental Instruments
2,WBAI,500.com Limited,9.88,Consumer Services,Services-Misc. Amusement & Recreation
3,WUBA,58.com Inc.,51.33,Technology,"Computer Software: Programming, Data Processing"
4,EGHT,8x8 Inc,23.32,Technology,EDP Services

In [6]:
df2.to_csv(r'C:\Users\wwwka\Desktop\ETL-project\ELT project - Karen\Data_after_cleaning.csv')